@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary{
    @apply py-0 px-4 bg-green-500 text-white rounded hover:bg-green-300;
}

.navbar-p{
    @apply relative pt-6 px-4 sm:px-6 lg:px-8 border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10;
}

.navbar-p1{
    @apply relative flex items-center justify-between sm:h-10 lg:justify-start;
}
.navbar-p2{
    @apply flex items-center flex-grow flex-shrink-0 lg:flex-grow-0;
}
.navbar-p3{
    @apply flex items-center justify-between w-full md:w-auto;
}
.a-navp{
    @apply font-medium text-gray-500 hover:text-gray-900;
}
.btn-nav{
    @apply hidden md:block md:ml-10 md:pr-4 md:space-x-8;
}
.bodyp{
    @apply grid grid-rows-3 grid-flow-col gap-4;
}
.menuizq{
    @apply row-span-2 bg-red-100;
}
.videop{
    @apply col-span-5 row-span-2 bg-yellow-500;
}
.btn-options{
    @apply row-span-2 col-span-2 bg-yellow-100;
}