@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary{
    @apply py-0 px-4 bg-green-500 text-white rounded hover:bg-green-300;
}
.btn-nav{
    @apply hidden md:block md:ml-10 md:pr-4 md:space-x-8;
}

.menuizq{
    @apply absolute inset-0 transform lg:relative z-10 w-48 bg-indigo-900 text-white h-screen p-3;
}
.videop{
    @apply justify-items-center block text-2xl sm:text-2xl font-bold p-3;
}
.btn-options{
    @apply row-span-2 col-span-2 bg-yellow-100;
}
.nav{
    @apply block px-4 py-2 hover:bg-indigo-800 rounded-md;
}
.span{
    @apply block text-2xl sm:text-3xl font-bold p-4;
}
.span2{
    @apply block text-base sm:text-3xl font-bold p-4;
}
.options{
    @apply mx-10 bg-yellow-300 my-4
}
.image{
    @apply h-20 w-full object-cover md:h-full md:w-20;
}
.divs{
    @apply md:container md:mx-auto;
}
.body{
    @apply antialiased min-h-screen lg:flex;
}
.dropdown{
    @apply block px-4 py-2 mt-2 text-sm font-semibold  rounded-lg  md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none;
}
.mode{
    @apply px-2 py-2 bg-indigo-800 rounded-md;
}